In [2]:
# 1
def sum_avg(num1, num2):
    summ= num1+num2
    print("The sum of two numbers is:", summ)
    print("The averega is:",int(summ/2))

In [3]:
sum_avg(45,20)

The sum of two numbers is: 65
The averega is: 32

In [6]:
#2
def print_elements_of_list(lista):
    for num in lista:
        if num <5:
            print(num)

In [7]:
listb=[1,6,3,7,3,9,2]

In [8]:
print_elements_of_list(listb)

1
3
3
2

In [9]:
#3
def odd_even(num1):
    if num1%2 ==0:
        if num1%10==0:
            print("Divisible by 10")
        print("even")
    else:
        print("odd")

In [10]:
odd_even(5)

odd

In [11]:
odd_even(10)

Divisible by 10
even

In [12]:
odd_even(6)

even

In [13]:
#4
def product(num1,num2):
    prod=num1*num2
    if prod >500:
        print("Sum of numbers is:", num1+num2)
    else:
        print("Product of numbers is:", prod)

In [14]:
product(35,87)

Sum of numbers is: 122

In [15]:
#5
def iterate():
    for i in range(4,21):
        print("the sum of current number:",i,"and previous number",i-1,"is:",i+(i-1))

In [16]:
iterate()

the sum of current number: 4 and previous number 3 is: 7
the sum of current number: 5 and previous number 4 is: 9
the sum of current number: 6 and previous number 5 is: 11
the sum of current number: 7 and previous number 6 is: 13
the sum of current number: 8 and previous number 7 is: 15
the sum of current number: 9 and previous number 8 is: 17
the sum of current number: 10 and previous number 9 is: 19
the sum of current number: 11 and previous number 10 is: 21
the sum of current number: 12 and previous number 11 is: 23
the sum of current number: 13 and previous number 12 is: 25
the sum of current number: 14 and previous number 13 is: 27
the sum of current number: 15 and previous number 14 is: 29
the sum of current number: 16 and previous number 15 is: 31
the sum of current number: 17 and previous number 16 is: 33
the sum of current number: 18 and previous number 17 is: 35
the sum of current number: 19 and previous number 18 is: 37
the sum of current number: 20 and previous number 19 is: 39

In [17]:
#6
def check_vowel(var):
    if var == 'a' or var == 'e' or var == 'i' or var == 'o' or var == 'u':
        print("The given letter is vowel")
    else:
        print("The given letter is not a vowel")

In [18]:
check_vowel('e')

The given letter is vowel

In [19]:
check_vowel("q")

The given letter is not a vowel

In [22]:
#7
def even_index(str):
    for i in range(2,len(str),2):
        print(str[i])

In [23]:
even_index("hello world")

l
o
w
r
d

In [24]:
#9
def List_divisible(lista):
    for num in lista:
        if num %10 ==0:
            print(num)

In [25]:
listb=[5,60,10,70,45,6,8,9]

In [26]:
List_divisible(listb)

60
10
70

In [27]:
#10
def first_last(lista):
    if lista[0] == lista[-1]:
        print("The first and last elements are same")
    else:
        print("Elements are not same")

In [28]:
first_last(listb)

Elements are not same

In [136]:
listc=[1,4,64,7,35,1,2]
listc

[1, 4, 64, 7, 35, 1, 2]

In [30]:
first_last(listc)

The first and last elements are same

In [84]:
#11
def replace_space(str):
    sty=str.replace(' ','_')
    print(sty)

In [85]:
str="hello world"
replace_space(str)

hello_world

In [86]:
str

'hello world'

In [88]:
#12
def check_pallindrome(str):
    if str ==str[::-1]:
        print("pallindrome")
    else:
        print('not pallindrome')

In [89]:
check_pallindrome("nalan")

pallindrome

In [90]:
check_pallindrome("nala")

not pallindrome

In [108]:
#13
def fibonaci(num):
    a=1
    b=1
    print(a,b, end=" ")
    for i in range(2,num):
        c=a+b;
        a=b
        b=c
        print(c,end=" " )

In [109]:
fibonaci(10)

1 1 2 3 5 8 13 21 34 55

In [111]:
#14
def middle(str,stb):
    mid=int(len(str)/2)
    sty=" "
    sty=str[:mid]+stb+str[mid:]
    print(sty)

In [112]:
middle("hello","world")

heworldllo

In [117]:
#15
def pattern():
    for i in range(0,6):
        for j in range(0,i+1):
            print(j, end=" ")
        print()

In [118]:
pattern()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [120]:
#16
def display(str):
    length=len(str)
    l=int((25/100)*length)
    print(str[:l])

In [121]:
display("greater good")

gre

In [129]:
#17
def some_list_func (lista):
    lenght=int(len(lista))
    l=int(lenght/2)
    if lenght%2==0:
        print((lista[l]+lista[l+1])/2)
    else:
        print(lista[l])

In [130]:
some_list_func(listb)

25.5

In [132]:
some_list_func(listc)

21.0

In [134]:
#18
def same_elements(list1,list2):
        list3=[]
        for var in list1:
            if var in list2:
                list3.append(var)
        print(list3)

In [138]:
listd=[1,2,4,6,7]
liste=[4,9,0,6,7,5]

In [139]:
same_elements(listd,liste)

[4, 6, 7]

In [140]:
#19
def leap_year(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                print("{0} is a leap year".format(year))
            else:
                print("{0} is not a leap year".format(year))
        else:
            print("{0} is a leap year".format(year))
    else:
        print("{0} is not a leap year".format(year))

In [141]:
leap_year(2004)

2004 is a leap year

In [142]:
leap_year(2000)

2000 is a leap year

In [230]:
#20
def prime(num):
    i=2
    k=False
    if int(num%2)==0:
        print("Not a prime")
    else:
        while(i<num):
            if num%i==0:
                print("not a prime")
                k=False
                break
            else:
                k=True;
            i=i+1    
    if(k==True):
        print("Prime")

In [233]:
prime(71)

Prime

In [259]:
#21
def extract_values(dict1):
    for v in dict1.values():
        if type(v) == dict:
            extract_values(v)
        else:
            print(v)

In [260]:
dicta ={1:'Red',2:'Blue',3:{4:'Green',5:{6:'Yellow'}}}

In [261]:
extract_values(dicta)

Red
Blue
Green
Yellow

In [206]:
#22
def counting(lista):
    count=0
    dict1={}
    for var in lista:
          dict1[var]=lista.count(var)
    print(dict1)

In [207]:
counting(liste)

{4: 1, 9: 1, 0: 1, 6: 1, 7: 1, 5: 1}

In [220]:
#23
def remove_duplicate(lista):
     return tuple(dict.fromkeys(lista))

In [221]:
tup=()
tup=(remove_duplicate(liste))

In [222]:
tup

(4, 9, 0, 6, 7, 5)

In [226]:
print("Max:",max(tup),"Min:",min(tup))

Max: 9 Min: 0

In [234]:
#24
def deposit(amt,years,interest):
    A = amt* (1 + interest/100)**years
    return A

In [235]:
deposit(1000,2,8)

1166.4