In [52]:
import pandas as pd
import numpy as np
old=pd.read_excel('excel_old.xlsx')
new=pd.read_excel('excel_new.xlsx')
final=pd.read_excel('excel_new.xlsx')

In [53]:
comparison_values = old.values == new.values
print (comparison_values)

[[ True  True  True False False  True]
 [ True  True  True False False  True]
 [ True  True False False False False]
 [ True  True False False False  True]
 [ True  True False False False  True]
 [ True  True False False False False]
 [ True  True  True  True  True  True]]

In [54]:

rows,cols=np.where(comparison_values==False)

In [55]:
rows

array([0, 0, 1, 1, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5], dtype=int64)

In [49]:
cols

array([3, 4, 3, 4, 2, 3, 4, 5, 2, 3, 4, 2, 3, 4, 2, 3, 4, 5], dtype=int64)

In [50]:
for item in zip(rows,cols):
    final.iloc[item[0], item[1]] = '{}'.format(new.iloc[item[0], item[1]]-old.iloc[item[0], item[1]])

In [51]:
final

     unique id       data point 2020 2021 2022 2023
0  abc --> abc  var_a --> var_a    0   21   48    0
1  abc --> abc  var_b --> var_b    0   21  -45    0
2  def --> def  var_a --> var_a   53   11  200   12
3  def --> def  var_b --> var_b   45  -23   33    0
4  ghi --> ghi  var_a --> var_a   12   11   32    0
5  ghi --> ghi  var_b --> var_b    1   19   28   39
6  jkl --> jkl  var_a --> var_a    0    0    0    0

In [29]:
rows1,cols1=np.where(comparison_values==True)

In [43]:
for item in zip(rows1,cols1):
    if (type(old.iloc[item[0],item[1]])!=str):
        final.iloc[item[0], item[1]] = '{}'.format(old.iloc[item[0], item[1]]-new.iloc[item[0], item[1]])

In [44]:
final

     unique id       data point 2020 2021 2022 2023
0  abc --> abc  var_a --> var_a    0   21   48    0
1  abc --> abc  var_b --> var_b    0   21  -45    0
2  def --> def  var_a --> var_a   53   11  200   12
3  def --> def  var_b --> var_b   45  -23   33    0
4  ghi --> ghi  var_a --> var_a   12   11   32    0
5  ghi --> ghi  var_b --> var_b    1   19   28   39
6  jkl --> jkl  var_a --> var_a    0    0    0    0